

<div class="unified-visa-footnote">
  WeStayCute never stores or collects your card details. We securely transfer you to Unified Payments Ltd to complete your purchase. WeStayCute is certified by Unified Payments Ltd for security and safety so feel comfortable purchasing on our site.
  Refer WeStayCute's <a href="/delivery_return_refund_and_cancellation_policies" target="_blanck">Delivery, Return, Refund and Cancellation Policy</a>
</div>
<div class="visa_learn_more"><span class="visa_content">Service Provided by <br>Unified Payments Services Limited</span><a href="javascript:void(0);">Learn More</a></div>

<div name="unified-visa-instructions" >
  <div class="instructions_list">
    <h6 class="subtaxon-title">About Verified by Visa</h6>
    <p class="rows">Enrolling your card for Verified by Visa.  WeStayCute is protected with VbV and requires that the card is enrolled to participate in the VbV program. To enrol Visa cards issued by Nigerian Banks, you would need to follow the steps outlined below:</p>
    <ol>
      <li> Locate a nearest VISA/VPAY enabled ATM </li>
      <li> Insert your card and punch in your  PIN </li>
      <li> Select the PIN change option </li>
      <li> Select the Internet PIN (i-PIN) change option </li>
      <li> Insert any four - six digits of your choice as your iPIN</li>
      <li> Re-enter the digits entered in Step 5 above</li>
      <li> If you have performed the above steps correctly, a message is displayed informing you you’re your PIN was changed successfully. This means that your card is now enrolled in the VbV (Verified by Visa) program and may be used for any internet related transactions. </li>
      <li> Note that the word ‘iPIN’ , ‘Password’ and VbV code are the same</li>
      <li> You can now pay/buy on WeStayCute.com, VbV enabled site to shop securely </li>
    </ol>
  </div>
</div>